@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: transparent;
    font-family: "space grotesk";
  }

#page-wrapper {
  display: flex;
}

header {
  position: absolute;
  top: 0;
  min-height: 90px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  width: 60vw;
 }


.logo > img {
  width: 100%;
  height: 100%;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  font-weight: 700;
  font-size: 22px;;
}
.back {
  filter: opacity(75%);
  background-image: url(/img/back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;

}
nav > ul {
  max-width: 600px;
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#info {
  margin-top: 30px;
  display: flex;
  width: 1000px;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0px 20px 200px 20px;
margin: 20px auto 20px auto;
}

#our-work {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#pricing {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.row {
display: flex;
width: 80px;
height: 80px;
margin: 20px 55px 20px 55px;
justify-content: center;
align-items: center;
}

.icon {
display: flex;
font-size: 70px;
color: rgb(49, 49, 146);
padding-top: 60px;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 200px;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 20px;
}

.text {
  display: flex;
  justify-content: center; 
  text-align: center;
width: 200px;
font-size: 17px;
}

