@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: transparent;
    font-family: "space grotesk";
  }

#page-wrapper {
  display: flex;
}

header {
  position: absolute;
  top: 0;
  min-height: 90px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  width: 60vw;
 }

 @media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 700;
  font-size: 22px;;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}


.back {
  filter: opacity(75%);
  background-image: url(/img/back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;

}
nav > ul {
  max-width: 600px;
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#info {
  margin-top: 30px;
  display: flex;
  width: 1000px;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0px 20px 80px 20px;
margin: 20px auto 20px auto;
}

@media (max-width: 650px) {
  #info {
    margin-top: 0;
  }
}

#our-work {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.row {
display: flex;
width: 80px;
height: 80px;
margin: 20px 55px 20px 55px;
justify-content: center;
align-items: center;
}

@media (max-width: 550px) {
.row {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

.icon {
display: flex;
font-size: 70px;
color: rgb(49, 49, 146);
padding-top: 60px;
}

@media (max-width: 550px) {
  .icon {
    display: none;
  }
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 200px;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 20px;
}

.text {
  display: flex;
  justify-content: center; 
  text-align: center;
width: 200px;
font-size: 17px;
}

#video {
margin: 50px auto 100px auto;
height: 450px;
width: 700px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 250px;
  background-color:rgb(231, 231, 252);
}

@media (max-width: 650px) {
  #information {
    margin-top: 120px;
  }
}

#information > h2 {
  margin-bottom: 10px;
  font-weight: bold;
  word-wrap: break-word;
}

#information input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 8px;
margin-top: 12px;
margin-bottom: auto;
}

#information input[type='submit'] {
  color: white;
  max-width: 200px;
  width: 100%;
  width: 135px;
  height: 35px;
  margin-top: 20px;
  border: 0;
  background-color: rgb(49, 49, 146);
}

#information input[type='submit']:hover {
  background-color: rgb(11, 11, 83);
  transition: background-color 1s;
}

.btn {
  padding: auto;
  text-align: center;
  justify-content: center;
  height: 40px;
  font-size: 1em;
  font-weight: 500;
  border: 3px black;
  border-radius: 2px;
  cursor: pointer;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
  margin: auto;
  margin-bottom: 100px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 40px;
  border: 3px solid rgb(49, 49, 146);
  border-radius: 5px;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.product > .level {
  background-color: rgb(231, 231, 252);
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  color: white;
  margin: 15px 0;
  background-color: rgb(49, 49, 146);
  font-weight: 400;
  width: 90px;
}

.product > button:hover {
  background-color: rgb(11, 11, 83);
  transition: background-color 1s;
}

footer {
  background-color: rgb(186, 186, 233);
  padding: 30px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: black;
}